- model_class = Post
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - @posts.each do |post|
        .post-preview
          %a{:href => "post.html"}
            %h2.post-title
              = link_to post.title, post_path(post)
            %h3.post-subtitle
              = post.description
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-default btn-xs'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
          %p.post-meta
            Posted on 
            =l post.created_at
        %hr/
      / Pager
      %ul.pager
        %li.next
          %a{:href => "#"} Older Posts →
